* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fdf5e8;
}

.navbar {
    background-color: #576f4d;
    padding: 25px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin-top: 0;
    margin-right: 20px;
}

.navbar a {
    color: #f5d8aa;
    text-decoration: none;
    font-weight: 900;
}

.navbar a:hover {
    color: #ffbb55;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
}

img {
    width: 600px;
    height: 400px;
    border-radius: 25px;
    border: 2px solid #e2ce96;
    margin-bottom: 60px;
}

h1 {
    color:#314538;
    margin-top: 20px;
    margin-left: 0;
}

p {
    margin-top: 15px;
    line-height: 1.2;
    text-align: center;
}

.paragrafo {
    max-width: 900px;
    margin: 0 auto 20px auto; 
    text-align: justify;
    text-indent: 40px; 
    line-height: 1.8; 
    font-size: 16px;
}