* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e8eafd;
}

.navbar {
    background-color: #4c528d;
    padding: 25px;
}

.navbar ul {
list-style: none;
display: flex;
justify-content: center;
}

.navbar li {
    margin-top: 0;
    margin-right: 20px;
}

.navbar a{
color: #1b1b3f;
text-decoration: none;
font-weight: 900;
}

.navbar a:hover{ 
    color: #7979ff;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
}

img{
    width: 600px;
    height: 400px;
    border-radius: 50px;
    border: 3px solid #0a0938;
}

h1{
    margin-top: 20px;
    margin-left: 0;
}

p{
    margin-top: 15px;
    line-height: 1.2;
    text-align: center;
}

.paragrafo{
    text-align: justify;
}